<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>  


    var playing = false;
    var score;
    var action;
    var timeremaining;
    var correctAnswer;
    // if we click on the start /reset
    document.getElementById("startreset").onclick = function(){
        // if we rae playing
        if(playing== true){
            location.reload(); //reloading page
        }else{ //if wwe are not playing
            playing = true; //change mode to playing
            score = 0; //set score to 0
            document.getElementById("scorevalue").innerHTML = score;
            show("timeremaining");
            timeremaining = 20;
            document.getElementById("timeremainingvalue").innerHTML = timeremaining;
            // hide game over box
            hide("gameover");
            
              //change button to reset
            document.getElementById("startreset").innerHTML = "Reset Game";
            //start countdon
            startCountdown();
            
            //generate ne Q&A
            generateQA();
        }
             
    }
    
    //clicking on answwer box
    for(i=1; i<5; i++){
        document.getElementById("box"+ i).onclick = function(){
        //if wwe are playing
        if(playing == true){
            if(this.innerHTML == correctAnswer){    // "this" can be used instead document.getelementbyId 
                //correct answer`
                score++;  //inrease score
                document.getElementById("scorevalue").innerHTML = score;
                //show correct box
                hide("wrong");
                show("correct");
                setTimeout(function(){
                    hide("correct");
                }, 1000);
                //generate new question
                generateQA();
            }else{
                //wrong answer
                hide("correct");
                show("wrong");
                setTimeout(function(){
                    hide("wrong");
                }, 1000);
            }
        }
    }
    
    }
    
    
    
    
    //functions
    
    //start counter
    function startCountdown(){
        action = setInterval(function(){
            timeremaining -= 1;
            
            document.getElementById("timeremainingvalue").innerHTML = timeremaining;
        
            if(timeremaining == 0){ //game over
                stopCountdown();
                show("gameover");
                document.getElementById("gameover").innerHTML = "<p>Game Over</p><p>Your score is " + score +".</p>";
                hide("timeremaining");
                hide("correct");
                hide("wrong");
                playing = false;
                document.getElementById("startreset").innerHTML = "Start Game";
            }
        }, 1000);
    }
    
    
    //stop counter
    function stopCountdown(){
        clearInterval(action);
        
    }
    
    
    //hide an elemenet
    function hide(Id){
        document.getElementById(Id).style.display = "none";
    }
    
    //show an elemenet
    function show(Id){
        document.getElementById(Id).style.display = "block";
    }
    
    // generate question and multiple answers
    
    
    function generateQA(){
        var x = 1 + Math.round(9*Math.random());
        var y = 1 + Math.round(9*Math.random());
        correctAnswer = x*y;
        document.getElementById("question").innerHTML = x + "x" + y;
        var correctPosition = 1 + Math.round(3*Math.random());
        document.getElementById("box" + correctPosition).innerHTML = correctAnswer; //fill one box with correct answer
        
        
        var answers = [correctAnswer];
        
        //fill other boxes with wrong answer
        for(i=1; i<5; i++){
            if(i != correctPosition){
                var wrongAnswer;
                do{
                    wrongAnswer = (1 + Math.round(9*Math.random()))*(1 + Math.round(9*Math.random())); //a wrong answer
                }while(answers.indexOf(wrongAnswer)>-1)
                
                document.getElementById("box"+i).innerHTML = wrongAnswer;
                answers.push(wrongAnswer);
            }
        }
        
        
    }
        
    //if we click on answer box
        //if we are playing
            //correct?
                //yes
                    //increase score
                    //sho correct box
                    //generate new QandA
                //no
                    //showw try again box 
      